<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!--<group ns="kuka_kr16">-->

    <!--<include file="$(find kuka_kr16_support)/launch/load_kr16.launch" />-->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find kuka_kr16_support)/urdf/kr16.xacro'"/>

    <!-- Load KR16 params -->
    <rosparam file="$(find kuka_hw)/test/kr16_params_sim.yaml" command="load" if="$(arg sim)"/>
    <rosparam file="$(find kuka_hw)/test/kr16_params.yaml" command="load" unless="$(arg sim)"/>

    <!-- Start node without FT sensor -->
    <node name="kuka_hardware_interface" pkg="kuka_hw"
      type="kuka_hardware_interface_node" respawn="false"
      output="screen"
      required="true"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find kuka_hw)/config/hardware_controllers.yaml" command="load"/>

    <!-- Load controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="position_trajectory_controller joint_state_controller"/>
    <!-- Load robot state publisher -->
    <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />-->

    <!-- Load RSI simulation node -->
    <node name='kuka_rsi_simulator' pkg='kuka_sim' type="kuka_rsi_sim.py" args="127.0.0.1 49152"/>

    <!-- Load RViz -->
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find kuka_kr16_support)/config/robot_state_visualize.rviz" required="true"/>

  <!--</group>-->

</launch>
